# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# DB
*.sqlite3

# Media / uploads
media/

# Static collect output (if used)
staticfiles/

# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
